*.exe
*.log
*.ppu
*.o
*.png
tests/lib/x86_64-win64/*
demo/lib/x86_64-win64/*

*-error.txt
tools/lib/
bin/
tools/renderer/lib/
tools/renderer/lib-single/
tools/renderer/embedded/
tools/renderer/*.res
dist/
.commandcode/
